* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

/* task 1 */

ul {
  list-style: none;
}

.item {

  background-color: rgba(246, 246, 254, 1);
  width: 392px;

}

.item h2 {
  padding-left: 16px;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0.04em;
  text-align: left;
}

.item ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-left: 16px;

}

.item li {
  border: solid 1px rgba(128, 128, 128, 1);
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  border-radius: 4px;

}

/* =================task 2============= */


.gallery {
  padding: 100px 156px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  align-items: center;
  justify-content: center;

  margin-top: 50px;
  flex-basis: calc((100% - 60px) / 3);
}


.gallery>li {
  position: relative;
  display: inline-block;
  width: 300px;
  height: 200px;

  overflow: hidden;
  transition: all 250ms ease-in;
  transform: scale(1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
}

.gallery>li:hover {
  z-index: 2;
  box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
  transition: all 250ms ease-in;
  transform: scale(1.4);
}


img {
  width: 100%;
  height: 100%;
}

/* task 3 */

input[type="text"] {
  width: 360px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

h1 {
  font-family: Montserrat, sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0.04em;
  text-align: left;
}

span#name-output {
  font-family: Montserrat, sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0.04em;
  text-align: left;
}

::placeholder {
  color: rgba(46, 47, 66, 1);
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;

}


/* task 4 */

.login-form {
  display: flex;
  flex-direction: column;
  width: 408px;
  border: solid 1px rgba(46, 47, 66, 1);
  gap: 8px;
  margin: 0 auto;
  background-color: #232931;
  border-radius: 4px;

  box-shadow: -10px -10px 10px #b6d5e9, 10px 10px 10px #a7acc4;

  background-color: transparent;

}

.login-form button {

  background-color: rgba(78, 117, 255, 1);
  color: rgba(255, 255, 255, 1);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: left;
  border-radius: 4px;
  border: none;
  padding: 8px 16px;
  width: 86px;
  margin: 8px;
}

.login-form button:hover {
  background-color: rgba(108, 140, 255, 1);
}



.login-form label {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: left;
  color: rgba(46, 47, 66, 1);
  padding-left: 8px;
}

.login-form input {
  width: 360px;
  height: 40px;
  margin: 8px;
  border: solid 1px rgba(46, 47, 66, 1);

  border-radius: 4px;
  border: none;

  color: #4ecca3;

  box-shadow: inset -5px -5px 12px #a1b4c0, inset 5px 5px 12px #8b93b4;
}

.login-form input:hover {
  border: solid 1px rgba(0, 0, 0, 1);
}



/* task 5 */

.change-color {
  width: 148px;
  height: 40px;
  padding: 8px 16px 8px 16px;
  /* gap: 10px; */
  border-radius: 8px 0px 0px 0px;
  opacity: 0px;
  background-color: rgba(78, 117, 255, 1);
  color: rgba(255, 255, 255, 1);
  border: none;
  border-radius: 4px;
}

/* task 6 */


#controls {
  display: flex;
  align-items: center;
  justify-content: center;
}

[type='number'] {
  margin-right: 20px;
}

[type='button'] {
  margin-right: 10px;
}


[type='number'] {
  border: none;
  outline: none;
  width: 100px;
  height: 54px;
  text-align: center;
  padding-top: 10px;
  border-radius: 5px;
  box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
  background: linear-gradient(-45deg,
      rgba(0, 0, 0, 0.22),
      rgba(255, 255, 255, 0.25));
}

button[data-create],
button[data-destroy] {
  width: 88px;
  height: 40px;
  border: 15px;
}

#boxes {
  display: flex;
  flex-wrap: wrap;
  /* align-items: center; */
  margin-top: 30px;
}

.new-boxes {
  display: block;
  margin-right: 30px;
  margin-bottom: 30px;

}

button[data-create] {
  background-color: rgba(78, 117, 255, 1);
  padding: 8px 16px;
  border-radius: 8px;
  color: white;
  width: 120px;

}

button[data-destroy] {

  background-color: rgba(255, 78, 78, 1);
  ;
  padding: 8px 16px;
  border-radius: 8px;
  color: white;
  width: 120px;
}

button[data-destroy]:hover {
  background-color: rgba(255, 112, 112, 1);
}

button[data-create]:hover {
  background-color: rgba(108, 140, 255, 1);
}